body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton::before{
    content:'Pasa por aquí';
}

.boton:hover::before{
    background-color: green;
    color: white;
    content: 'Hecho!';
}
